<div class="example-container">
  <p>LOGIN</p>

  <mat-form-field appearance="standard">
    <mat-label>Email</mat-label>
    <input matInput [formControl]="email">
    <mat-error *ngIf="email.invalid">{{getErrorEmailMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Password</mat-label>
    <input matInput [formControl]="password" [type]="hidePasswordInForm ? 'password' : 'text'">
    <mat-error *ngIf="password.invalid">{{getErrorPasswordMessage()}}</mat-error>
    <mat-icon matSuffix style="cursor: pointer"
              (click)="hidePasswordInForm = !hidePasswordInForm">{{hidePasswordInForm ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <mat-error>{{valid()}}</mat-error>
  <button mat-button (click)="valid()">LOGIN</button>
  <button routerLink="" style="margin-top: 10%" mat-button>BACK</button>
</div>
